footer {
  background: linear-gradient(135deg, lch(36.3% 31.87 277.31) 0%, #1d2633 50%, #1f2937 100%);
  color: aliceblue;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
  gap: 32px;
}


.link-contacto {
  text-decoration: none;
  color: darkorange;
}

.mitienda-cont,
.contacto-cont,
.enlaces-cont {
  list-style: none;
  line-height: 2;
}

.enlaces-cont {
  display: flex;
  flex-direction: column;
}

.link-inicio,
.link-us,
.link-log,
.link-reg {
  color: darkorange;
  text-decoration: none;
}

.virtual {
  font-weight: normal;
  font-size: 19px;
}

@media (max-width: 880px) {

  footer {
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    gap: 32px;
  }
}


@media (max-width: 480px) {

  footer {
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    gap: 32px;
  }
}